body,p{
    font-family: "Manrope", Sans-serif;
}
h1,h2,h3{
    font-family: "DM Serif Display", Sans-serif;
}
.features-block h4{
    font-family: "Manrope", Sans-serif;
    margin-top: 0px!important;
    margin-bottom: 10px!important;
}
.features-block .elementor-image-box-wrapper {
 
}
.features-block .elementor-image-box-description a{
    color: var(--e-global-color-primary) !important;
    display: block;
    font-weight: 800;
    margin-top:12px;
}
a.elementor-button.elementor-button-link{
    outline:none;
}
.wp-block-site-title a{
    font-size: 24px;
    display: block;
    font-weight: 500;
}
.wp-block-site-title a::first-letter {
    font-size: 24px;
    color: #747ed1!important;
    text-transform: uppercase;
    font-weight: 900;
}
a.wp-block-button__link.wp-element-button{
    background: #5458B8;
}